(
    palette: Light((
        name: "Mineral Focus Light",
        bright_red: "#A93E4CFF",
        bright_green: "#2E7B49FF",
        bright_orange: "#805B27FF",
        gray_1: "#DCE2E2FF",
        gray_2: "#E8ECECFF",
        neutral_0: "#FBFCFCFF",
        neutral_1: "#F1F4F4FF",
        neutral_2: "#E4E9E9FF",
        neutral_3: "#D0D7D7FF",
        neutral_4: "#B4BFBFFF",
        neutral_5: "#939F9FFF",
        neutral_6: "#717E7EFF",
        neutral_7: "#515D5DFF",
        neutral_8: "#333D3DFF",
        neutral_9: "#222B2BFF",
        neutral_10: "#121919FF",
        accent_blue: "#2F68A0FF",
        accent_indigo: "#555F9CFF",
        accent_purple: "#72558FFF",
        accent_pink: "#96506FFF",
        accent_red: "#A34450FF",
        accent_orange: "#805B27FF",
        accent_yellow: "#706120FF",
        accent_green: "#397149FF",
        accent_warm_grey: "#60564FFF",
        ext_warm_grey: "#8D817AFF",
        ext_orange: "#B8793DFF",
        ext_yellow: "#A88C34FF",
        ext_blue: "#5C93C8FF",
        ext_purple: "#9A7DB8FF",
        ext_pink: "#C67A99FF",
        ext_indigo: "#7A88C3FF",
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (12.0, 12.0, 12.0, 12.0),
        radius_l: (16.0, 16.0, 16.0, 16.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: None,
    bg_color: Some("#F6F8F8FF"),
    primary_container_bg: Some("#ECEFF0FF"),
    secondary_container_bg: Some("#E3E8E8FF"),
    text_tint: Some("#182020FF"),
    accent: Some("#247A70FF"),
    success: Some("#2E7B49FF"),
    warning: Some("#7A6300FF"),
    destructive: Some("#B23A49FF"),
    frosted: Medium2,
    gaps: (0, 8),
    active_hint: 3,
    window_hint: Some("#247A70FF"),
    frosted_windows: false,
    frosted_system_interface: true,
    frosted_panel: true,
    frosted_applets: true,
    frosted_maximized_apps: false,
    alpha_map: (
        extremely_low: 0.97,
        extremely_low_2: 0.955,
        very_low: 0.94,
        very_low_2: 0.925,
        low: 0.91,
        low_2: 0.895,
        medium: 0.88,
        medium_2: 0.865,
        high: 0.85,
        high_2: 0.835,
        very_high: 0.82,
        very_high_2: 0.805,
        extremely_high: 0.79,
        extremely_high_2: 0.775,
    ),
)
