(
    palette: Dark((
        name: "Mineral Focus",
        bright_red: "#FF8796FF",
        bright_green: "#8FE0AAFF",
        bright_orange: "#F0B178FF",
        gray_1: "#181E24FF",
        gray_2: "#20272FFF",
        neutral_0: "#0B0E11FF",
        neutral_1: "#11151AFF",
        neutral_2: "#1A2026FF",
        neutral_3: "#252D35FF",
        neutral_4: "#34404AFF",
        neutral_5: "#46545FFF",
        neutral_6: "#5D6C78FF",
        neutral_7: "#7A8894FF",
        neutral_8: "#9DA8B1FF",
        neutral_9: "#C5CCD2FF",
        neutral_10: "#F0F3F5FF",
        accent_blue: "#7EB4F8FF",
        accent_indigo: "#98A7FFFF",
        accent_purple: "#B3A6F3FF",
        accent_pink: "#E99DBBFF",
        accent_red: "#FF7A8BFF",
        accent_orange: "#EFA66AFF",
        accent_yellow: "#D8BF67FF",
        accent_green: "#7CD89BFF",
        accent_warm_grey: "#B4AAA3FF",
        ext_warm_grey: "#8C847FFF",
        ext_orange: "#C88A58FF",
        ext_yellow: "#BFA753FF",
        ext_blue: "#6597D4FF",
        ext_purple: "#9184CFFF",
        ext_pink: "#C77F9FFF",
        ext_indigo: "#7B88D3FF",
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (12.0, 12.0, 12.0, 12.0),
        radius_l: (16.0, 16.0, 16.0, 16.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: None,
    bg_color: Some("#13171CFF"),
    primary_container_bg: Some("#1A2026FF"),
    secondary_container_bg: Some("#222A32FF"),
    text_tint: Some("#EAF0F2FF"),
    accent: Some("#78D6C6FF"),
    success: Some("#7CD89BFF"),
    warning: Some("#D8BF67FF"),
    destructive: Some("#FF7A8BFF"),
    frosted: Medium2,
    gaps: (0, 8),
    active_hint: 3,
    window_hint: Some("#78D6C6FF"),
    frosted_windows: false,
    frosted_system_interface: true,
    frosted_panel: true,
    frosted_applets: true,
    frosted_maximized_apps: false,
    alpha_map: (
        extremely_low: 0.95,
        extremely_low_2: 0.93,
        very_low: 0.91,
        very_low_2: 0.89,
        low: 0.87,
        low_2: 0.85,
        medium: 0.83,
        medium_2: 0.81,
        high: 0.79,
        high_2: 0.77,
        very_high: 0.75,
        very_high_2: 0.73,
        extremely_high: 0.71,
        extremely_high_2: 0.69,
    ),
)
